a{
    text-decoration: none;
    color: inherit;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
} 
body{
    font-family: 'ReformaGroteskMediumC', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
button{
    border: 0;
    padding: 0;
}
p,h1,h2,h3{
    margin: 0;
}
h2{
    text-align: center;
}
input{
    line-height: 1.15;
    padding: 0;
    background: transparent;
    border: 0;
}
textarea{
    padding: 0;
    background: transparent;
    border: 0;
}
.header{
    background: linear-gradient(180deg, rgba(20, 20, 20, 0.80) 78.8%, #141414 100%), url(../img/header-background.jpg), lightgray 50% / cover no-repeat;
    padding: 40px 0 0 0;
}
.nav{
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: space-between;
}
.menu{  
    display: flex;
}
.menu-item{
    padding-right: 40px;
}
.menu-img{
    display: none;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
.container .contacts-header-bottom{
    padding: 0;
}
.header-inner{
  text-align: center;
  margin-top: 170px; 
}

.header-inner h1{
    margin: 0;
    font-weight: 700;
    font-size: 150px;
    color: #DB3138;
    line-height: 188px;
}
.header-inner-img{
    margin: 6px auto 0;
}
.header-inner p{
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    max-width: 750px;
    margin: 40px auto 0;
}
.button-header-inner{
    width: 182px;
    height: 61px;
    background: linear-gradient(to right,#DB3138 70%, transparent 30%) ;
    border: 0;
    margin-top: 55px;
    cursor: pointer;
    
    
}
.button-header-inner p{
    font-family: ReformaGroteskDemiC;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 33px;
    padding-top: 0;
    margin: 10px 25px;
    letter-spacing: 0.05em;

}
.contacts-header-bottom{
    font-family: ReformaGroteskDemiC;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
}
.contacts-header-bottom div:first-child{
    border-left: none;
}
.contacts-header-bottom div:last-child{
    border-right: none;
}
.bottom-item{
    width: 100%;
    padding: 40px 0;
    border: solid 1px rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    letter-spacing: 0.05em;

}
.bottom-item p{
    align-self: center;
    font-size: 24px;
    line-height: 34px;
    color: #DB3138;
    max-width: 265px;
    margin: 20px 0 0 0;
    letter-spacing: 0.05em;
}
.bottom-item a{
    align-self: center;
    font-size: 24px;
    line-height: 34px;
    color: #DB3138;
    max-width: 265px;
    margin-top: 20px;
}

.main{
    background: #141414;
    
}
.achievments{
    display: flex;
    padding-top: 180px;
}
.achievments .container{
    display: flex;
}

.text-achiv{
    width: 50%;
    
}
.text-achiv h2{
    text-align: start;
}
.text-achiv-img{
    margin-top: 40px;
}
.text-achiv-about{
    font-size: 24px;
    line-height: 29px;
    font-family: ReformaGroteskMediumC;
    font-weight: 500;
    letter-spacing: 0.03em;
    width: 82%;
    padding-top: 60px;
}
.list-achiv{
    width: 50%;
    font-family: ReformaGroteskDemiC;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
     
}
.list-achiv-item{
    border: solid 1px #898989;
    padding: 25px 20px 35px;
}
.list-achiv-items{
    width: 50%;
}
.list-achiv-items:last-child{
    padding-top: 40px;
}
.achiv-item-title{
    font-size: 52px;
    line-height: 73px;
    color: #DB3138;
}
.achiv-item-title span{
    font-size: 24px;
    line-height: 34px;

}
.img-achiv-title{
    max-width: 38px;
    max-height: 46px;
}
h2{
    font-family: ReformaGroteskDemiC;
    font-weight: 600;
    font-size: 52px;
    line-height: 73px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.slider{
    padding-top: 180px;
    display: flex;
    position: relative;
}
.slider-item{
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.slider .container{
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 0 15px;

}
.text-slider{
    border: 0;
    max-width: 366px;
    background: linear-gradient(to bottom, #DB3138 66% , transparent  33%);
    padding-block: 0px;
    padding-inline: 0px; 
    margin: -35px auto 0;
}
.text-slider p{
    font-family: ReformaGroteskDemiC;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 40px 0;
    margin: 0;
    color: #FFFFFF;

}
.button-prev, .button-next{
    position: absolute;
    z-index: 10;
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.button-prev{
    background-image: url(../img/prev-button.svg);
    background-size: cover;
    top: 392px;
    left: 180px;
    background-color: transparent;
    border: 0;
}
.button-next{
    background-image: url(../img/next-button.svg);
    background-size: cover;
    top: 392px;
    right: 180px;
    background-color: transparent;
    border: 0;
}
.advanteges {
    padding-top: 180px;

}
.advanteges .container{
    display: flex;
    justify-content: space-between;
}
.adv-text {
    width: 41%;
}
.adv-title{
    display: flex;
    align-items: center;
}
.adv-title h3{
    font-family: ReformaGroteskDemiC;
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-left: 30px;
    margin: 0;
}
.adv-text p{
    font-family: ReformaGroteskMediumC;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    margin: 0;
    padding-top: 30px;
}
.adv-rectangles{
    display: block;
    margin: 40px auto;
}
.adv-slider{
    line-height: 0;
}

.adv-slider img{
    line-height: 0;
}
.slider-buttons{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.slider-buttons .button-prev{
    position: static;
    top: 0;
    left: 0;
}
.slider-buttons .button-next{
    position: static;
    top: 0;
    right: 0;
}
.slider-buttons p{
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0  0 0;
    font-family: ReformaGroteskDemiC;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    margin: 0;
    max-width: 420px;
}
.services{
    padding-top: 180px;
    text-transform: uppercase;
    font-family: ReformaGroteskDemiC;
}
.services img{
    padding-top: 40px;
}

.services .container{
    text-align: center;
}
.services-clue{
    background-color: #DB3138;
}
.services-detail{
    background-color: transparent;
    margin-left: 60px;
}
.services-clue,.services-detail p{
    padding: 20px 40px 10px;
    text-transform: uppercase;
    font-family: ReformaGroteskDemiC;
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    
}
.services-items{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.services-item{
    position: relative;
    border: solid 1px #898989;
    text-align: center;
    box-sizing: border-box;
    margin-left: 24px;
    max-width: 305px;
}
.services-item:nth-child(1){
    margin: 0;
}

.services-button-items{
    padding-top: 60px;
    display: flex;
    justify-content: center;
}
.services-item img{
    padding: 0;
    position: absolute;
    display: flex;
    top: 20%;
    left: 40%;
}

.services-item-headline{
    margin-top: 170px;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.05em;

}
.services-item-text{
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    margin-top: 20px;
    padding: 0 40px;
}
.services-about{
    background: linear-gradient(to right,#DB3138 50%, transparent 50%);
    margin: 25px 0 50px 0;
}
.services-about p{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    padding: 10px 20px 6px;
    text-transform: uppercase;
}
.advanteges-inversed{
    padding-top: 180px;
}
.advanteges-inversed .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.our-works {
    text-align: center;
    padding-top: 180px;
}
.our-works-rectangles{
    padding-top: 40px;
}
.our-works-gallery-wall{
    width: 100%;
    padding-top: 60px;
}
.gallery-wall-frame{
    display: flex;
    flex-direction: row;
}
.gallery-wall-frame:nth-child(2){
    transform: scaleX(-1);
}
.gallery-wall-frame img{
    width: 16.666666%;
}
.footer .container{
    padding-top: 120px;
}
.footer-contact-us{
    width: 636px;
    margin: 0 auto;
}

.footer-rectangles-img{
    padding-top: 40px;
    display: block;
    margin: 0 auto;
}
.input-contacts{
    margin-top: 60px;
    display: flex;
}

.contact-name,.contact-phone{
    width: 50%;
    border: 1px solid #898989;
    padding: 15px 10px 10px 25px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: ReformaGroteskDemiC;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;

}
.contact-phone{
    margin-left: 24px;
}
.input-question{
    margin-top: 24px;
    display: flex;
}
.question-form{
    border: 1px solid #898989;
    text-transform: uppercase;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: ReformaGroteskDemiC;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    width: 100%;
    text-align: start;
    padding: 15px 0 10px 25px;
    color: #FFFFFF;
    box-sizing: border-box;


}
.question-form::placeholder{
    margin: 0;
    padding: 0;
}

.footer-socials-block{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
.footer-socials{
    width: 40px;
    height: 40px;
    margin-top: 15px;
    border: 1px solid #898989;
    background: transparent;
    cursor: pointer;
}

.footer-socials:nth-child(1){
    margin: 0;
}
.input-send-block{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    font-family: ReformaGroteskDemiC;
    font-weight: 600;
    font-size:16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-transform: uppercase;
}
.input-send{
    background: linear-gradient(to right,#DB3138 50%, transparent 50%) ;
}
.input-send p{
    padding: 15px 25px;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.input-locaton{
    display: flex;
}
.input-locaton p{
    margin-left: 10px;
}
.input-phone-email{
    margin-top: 15px;
    display: flex;
    float: right;
}
.input-email{
    margin-left: 30px;
}
.input-phone a{
    margin-left: 10px;
}
.footer-bottom{
    border-top: solid 1px #898989;
    margin-top: 100px;
}
.footer{
    background: #141414;
    
}
.footer-bottom .container{
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
    box-sizing: border-box;
}
.footer-bottom p{
    opacity: .5;
    font-family: ReformaGroteskDemiC;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
}




@media(max-width: 1300px){
    .slider-item:nth-child(3){
        display:none;
    }
    .slider .container{
        width: 880px;
    }
    .text-achiv h2{
        font-size: 37px;
    }
    .services-item:nth-child(1){
        margin: 0;
    }
    .advanteges-inversed .adv-text{
        margin-left: 15px;
    }
    .services-item-headline{
        font-size: 1.8vw;
    }
    .services-item-text{
        font-size: 1.2vw;
    }
    h2{
        font-size: 4vw;
    }
    
    
}
@media(max-width: 1170px){
    .advanteges .container{
        flex-direction: column;
    }
    .adv-text{
        width: 100%;
        text-align: center;
    }
    .adv-title{
        display: block;
    }
    .advanteges-inversed .container{
        flex-direction: column;
    }
    .adv-slider-container{
        display: inline-block;
    }
    .adv-slider{
        text-align: center;
        padding-top: 40px;
    }
    .adv-text{
        margin: 0;
    }
    .advanteges-inversed .adv-text{
        margin: 0;
    }
    .footer-bottom p{
        font-size: 13px;
    }
    .adv-title h3{
        padding: 0;
    }
    
    
}

@media(max-width: 1024px){
    .services .container{
        margin: 0;
        padding: 0;
    }
    .services-items{
        flex-wrap: wrap;
        margin: 80px 0 0 0;
    }
    .services-item{
        max-width: 50%;
        border: 0;
        display: flex;
        justify-content: space-around;
        margin: 0;
    }
    .services-item-small{
        position: relative;
        border: solid 1px #898989;
        text-align: center;
        box-sizing: border-box;
        max-width: 64%;
        min-width: 64%;
        margin: 0 0 24px 0;
    }
    .menu{
        display: none;
    }
    .menu-img{
        display: block;
    }
    .footer-bottom .container{
        justify-content: center;
    }
    .slider .button-next{
        right: 100px;
    }
    .slider .button-prev{
        left: 100px;
    }
    .services-item-headline{
        font-size: 2.3vw;
    }
    .services-item-text{
        font-size: 1.5vw;
        padding: 0 3vw;
    }
    h2{
        font-size: 5.1vw;
    }
    .text-achiv h2{
        text-align: center;
        font-size: 3.6vw;
    }
    .achievments .container{
        flex-direction: column;
    }
    .text-achiv,.list-achiv{
        width: 50%;
        justify-content: center;
        margin: 0 auto;
    }
    .list-achiv{
        margin-top: 40px;
    }
    .text-achiv{
        display: flex;
        flex-direction: column;
    }
    .text-achiv-img{
        margin: 40px auto 0;
    }
    .text-achiv-about{
        width: 100%;
    }
    .text-achiv h{
        text-align: center;
    }
    
}
@media(max-width: 900px){
    .slider-item:nth-child(2){
        display: none;
    }
    .slider .button-next{
        display: none;
    }
    .slider .button-prev{
        display: none;
    }
    .slider .container{
        justify-content: center;
    }
    .slider-item{
        align-items: center;
    }
    .gallery-wall-frame img{
        width: 33.3333%;
    }
    .gallery-wall-frame{
        flex-wrap: wrap;
    }
    .contacts-header-bottom{
        font-size: 2vw;
    }
    .bottom-item {
        padding: 2.2vw 0;
    }
    .bottom-item a{
        font-size: 2.7vw;
        margin-top: 2.2vw;
    }
    .bottom-item p{
        font-size: 2.7vw;
        margin-top: 2.2vw;
        
    }
}
@media(max-width: 768px){
    .services-item{
    max-width: none; 
    } 
    .services-items{
        justify-content: center;
    }
    .services-item-headline{
        font-size: 3vw;
    }
    .services-item-text{
        font-size: 2vw;
        padding: 0 3vw;
    }
    h2{
        font-size: 6vw;
    }
    .text-achiv h2{
        text-align: center;
        font-size: 5vw;
    }
    .text-achiv,.list-achiv{
        width: 75%;
    }
    
}
@media(max-width: 660px){
    .button-next,.button-prev{
        display: none;
    }
    .adv-slider img{
        width: 100%;
    }
    .slider-buttons p{
        max-width: none;
    }
    .input-contacts{
        flex-direction: column;
    }
    .contact-name,.contact-phone,.question-form{
        width: 100%;
        box-sizing: border-box;
        font-size: 2.4vw;
        padding: 2.2vw 1.5vw 1.5vw 3.8vw;

    }
    .footer-contact-us{
        width: 100%;
    }
    .contact-phone{
        margin: 24px 0 0 0;
    }
    .question-form{
        height: 40vw;
    }
    .footer-socials-block{
        margin-left: 15px;
        max-height: 40vw;
        
    }
   
}
@media(max-width: 480px){
    .bottom-item a{
        font-size: 2.7vw;
        margin-top: 1vw;
    }
    .bottom-item p{
        font-size: 2.7vw;
        margin-top: 1vw;
        
    }
    h2{
        font-size: 7.5vw;
    }
    .services-button-items{
        flex-direction: column;

    }
    .services-detail{
        margin: 0;
    }
    .input-send-block{
        flex-direction: column;
    }
    .input-send{
        max-width: 29vw;
        margin: 0 auto;
    }
    .input-contact-information{
        padding-top: 24px;
    }
    .input-locaton{
        justify-content: center;
    }
    .input-phone-email{
        width: 100%;
        justify-content: center;
    }
    .slider-item img{
        width: 100%;
    }
    .text-slider{
        width: 85%;
    }
    .text-slider p{
        font-size: 3.8vw;
        padding: 6.3vw 8.3vw 0;
        line-height: 5.2vw;
    }
    .services-item-headline{
        font-size: 4vw;
    }
    .services-item-text{
        font-size: 3vw;
        padding: 0 3vw;
    }
    .header-inner h1{
        font-size: 110px;
    }
    .header-inner p{
        font-size: 27px;
    }
    .button-header-inner p{
        font-size: 24px;
    }

}
@media(max-width: 320px){
    
    
}

@font-face {
    font-family: "ReformaGroteskDemiC";
    src: url(../fonts/ReformaGrotesk/ReformaGroteskDemiC.woff);
}
@font-face {
    font-family: "ReformaGroteskBoldC";
    src: url(../fonts/ReformaGrotesk/ReformaGroteskBoldC.woff);
}
@font-face {
    font-family: "ReformaGroteskMediumC";
    src: url(../fonts/ReformaGrotesk/ReformaGroteskMediumC.woff);
}